body { 
    margin: 1em;
    max-width: 75em; 
}
header{
    color: lightgreen;
    margin: 1em auto; 
    max-width: 75em; 
    height: auto;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
}
li{
    display: block;
    border-radius: 10px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: yellow;
  }
  main{
    font-size: 15px;
    margin: auto;
    color:black;
    max-width: 75em; 
    text-align: center;
    padding: 15px;
    background-color: lightblue;
    border-radius: 10px;
}
section{
    margin: .5rem;
    padding: 1rem;
}
#headerlogo {
    height: 100px;
    float: left;
}
footer {
    border-radius: 10px;
    text-align: center;
    background-color:  blue;
    border-radius: 10px;
    color: lightgreen;
    max-width: 75em;
    margin: 1em auto;
}
em { 
    font-size: 10px;
    color: yellow;
}
#school, header h2 a {
    color: lightgreen;
    background-color: transparent;
}