@media only screen and (min-width: 1050px) {
   nav, ul, li {
        display: block;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
       
    }
    ul, li {
        margin-top: 50px;
        border: 1px black;
    }
}