@media only screen and  (min-width: 37.5em) {
   ul {
     display: inline; 
     max-width: 75em;  
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin: 30px;
   }
   li {
     margin: 40px; 
     margin-top: 50px:
     border: 1px black; 
   }
}