@media only screen and  (min-width: 37.5em) {
nav, ul {
     display: grid; 
     
     grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
   }
   li {
     margin-top: 50px;
     border: 1px black; 
   }
}