body { 
    margin: 1em;
}
header{
    color: lightgreen;
    margin: 1em auto; 
    max-width: 75em; 
    height: auto;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
}
li{
  display: inline;
  border-radius: 10px;
  padding:10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: yellow;
}
main{
    font-size: 15px;
    color: black;
    margin: 1em auto; 
    text-align: center;
    padding: 15px;
    background-color: lightblue;
    border-radius: 10px;
}
section{
    margin: .5rem;
    padding: 1rem;
}
table#fonts, table.colors{
    margin-left: auto;
    margin-right: auto;
#fonts {
    border-collapse: collapse;
    width = 50%;
}
#fonts td, #fonts th{
    border: 1px solid;
    padding: 8px;
}
footer{
    border-radius: 10px;
    text-align: center;
    background-color:  blue;
    border-radius: 10px;
    color: lightgreen;
    max-width: 75em;
    margin: 1em auto;
}